body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

.hero-container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

.hero {
    display: flex;
    gap: 30px;
    height: 50vh;
}

.hero-text, .beer-flight {
    width: 430px;
    height: 200px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
}

.hero-text button {
    color: white;
    background-color: #3882F6;
    padding: 6px 12px;
    border-radius: 4px;
}

.photo-wrapper {
    background-color: white;
    width: 100%;
}
.photo-container {
   
    max-width: 700px;
    margin: 0 auto;
    height: 50vh;
}

.photo-container h2 {
    text-align: center;
   
   padding: 30px;
    
    color: #1F2937;

}

.photo-block p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}

.beer {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.photo-block {
    
    width: 100px;
    height: 150px;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   display: flex;
   gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 12px;
    margin-bottom: 64px;
}