body {
    margin: 0;
    padding: 0;
    
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   display: flex;
   gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 12px;
}