body {
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    background-color: #1F2937;
}

.hero-container{
    color: white;
    
}

.hero {
    display: flex;
    gap: 30px;
    height: 60vh;
}

.hero-text {
    width: 430px;
    height: 200px;
}
.beer-flight {
    width: 430px;
    height: 200px;
}
.hero-text h1 {
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
}

.hero-text button {
    color: white;
    background-color: #3882F6;
    padding: 6px 12px;
    border-radius: 4px;
}


ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   display: flex;
   gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 12px;
    margin-bottom: 64px;
}